<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="engine" class="com.jpa.text.Engine" scope="prototype">
        <constructor-arg value="V8"/>
    </bean>
    <bean id="car" class="com.jpa.text.Car" scope="prototype" >
        <constructor-arg ref="engine"/>
    </bean>
</beans>
